﻿
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

@if (!String.IsNullOrEmpty(ViewBag.aaa)) { 
    <p>@ViewBag.aaa</p>
}

<form action="/Home/Login" method="post">
    <input type="text" name="email" value=""/>
    <input type="password" name="pwd" value="" />
    <input type="submit"  value="send" />

</form>

